
@media(max-width:992px){
   .solutions{
          min-height: 760px;
   }

   .nav-carousel {
      width: 100%;  
   }

   .nav-carousel-tab {
      font-size: 13px;
   }
   .prev, .next{
      display: none;
   }
   .carousel__inner{
      img{
         width: 700px;
      }
   }
}
@media(max-width:768px){
   .solutions{
      padding: 40px 0;
      min-height: 580px;
}
   .nav-carousel-tab {
      font-size: 10px;
      font-weight: 300;
      line-height: 15px;
   }
   .carousel__inner{
      img{
         width: 520px;
      }
   }
}
@media(max-width:576px){    
   .solutions{
      min-height: 500px;
   }
   .carousel__inner{
      img{
         width: 100%;
      }
   }
}    