.hat {
   padding: 20px 0;
   &__wrapper {
      display: flex;
      justify-content: space-between;
   }
   &__item {
      display: flex;
      align-items: flex-start;
   }

   &__item-body {
      padding-left: 11px;
   }

   &__item-title {
      font-size: 14px;
      font-weight: 700;
      color: #242424;
   }

   &__item-location {
      font-size: 12px;
      font-weight: 300;
   }

   &__item-phone {
      font-size: 12px;
      font-weight: 300;
      text-decoration: none;
      color: black;
      
   }
}
