.promo {
   min-height: 100vh;
   background: url('../img/main_bg.jpg') no-repeat 50%/cover;
   // background-color: #101010;
   &__content{
      position: absolute;
      top: 50%;
      left:8%;
      transform: translateY(-50%);
   }

   &__subtitle {
      color:$main-color;;
      padding-left: 10px   ;
      position: relative;
      @include before_circle;
   }

   &__title {
      margin: 20px 0 20px 0;
      font-size: 75px;
      span{
         color:$second-color;;
      }

   }

   &__descr {
      font-size: 25px;
      margin-bottom: 50px;
   }

   &__link {
      text-decoration: none;
      margin-right: 20px;
   }
}

