@media(max-width:1200px){


}
@media(max-width:992px){
   .promo{
      &__title{
         font-size: 60px;
      }
   }

}
@media(max-width:768px){
   .promo{
      &__title{
         margin: 10px 0 10px 0;
         font-size: 45px;
      }
      &__descr{
         margin-bottom: 40px;
      }
   }
}    
@media(max-width:576px){
   .promo{
      &__content{
         left: 10px;
      }

      &__title{
         font-size: 28px;
         margin-top: 15px;
      }

      &__descr{
         font-size: 20px;
         margin-bottom: 32px;
      }
   }
}

