@import 'libs/normalize.min';
@import 'libs/font';

@import 'base/variables';

*{
   box-sizing: border-box;
   font-family: 'Roboto';
   margin: 0;
   padding: 0;
}

.container{
   width: 1140px;
   margin: 0 auto;

}

.title{
   font-size: 30px;
   line-height: 35px;
   font-weight: 900;
   color: #ffffff;
   text-align: center;
}

@import 'blocks/hat/hat';
@import 'blocks/header/header';
@import 'blocks/buttons/buttons';
@import 'blocks/promo/promo';
@import 'blocks/cards/cards';
@import 'blocks/solutions/solutions';
@import 'blocks/benefits/benefits';
@import 'blocks/data-sect/data-sect';
@import 'blocks/work/work';
@import 'blocks/footer/footer';