
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   color: black;
}

ul,ol{
   list-style-type: none;
}

.container{
   max-width: 1042px;
   margin: 0 auto;
}

.policy {
   padding: 50px;
   &__title {
      margin-bottom: 24px;
   }

   &__text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 24px;
   }

   &__list {
      padding-left: 40px;
      margin-bottom: 16px;
   }

   &__item {
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
   }
}

